{{define "base"}}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{.Title}}</title>

		<link type="text/css" rel="stylesheet" href="./static/bootstrap.min.css?v=3c2b31ee53b21a1c869b3b0ee4c197873c15e94a4d4e535fd69e95eb0d82a694">

		<style type="text/css">

			/* General */
			html { background: url(./static/bg.jpeg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
			body { background-color: transparent; font-family: {{.Font}}; }

			/* Panel */
			div#panel { background-color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
			dive#panel.small { max-width: 480px; }
		</style>

	</head>

	<body>
		{{template "content"}}

		<script type="text/javascript" src="./static/vue.min.js?v=d50daae61836617a7d7d894cfbeb0811739c51bf014520d4b10d735ef2c1aa60"></script>
	</body>

</html>
{{end}}