{{define "content"}}
<div id="panel" class="container my-4 p-4">

	<h1 class="text-center my-2">DogePanel</h1>

	<table class="table table-sm table-hover mt-4">

		<thead class="thead-dark">
			<tr><th colspan="2">Connections</th></tr>
		</thead>

		<tbody>			
			<tr> <td>Incoming:</td><td>7</td> </tr>
			<tr> <td>Outgoing:</td><td>2</td> </tr>
		</tbody>

	</table>

	<table class="table table-sm table-hover mt-4">

		<thead class="thead-dark">
			<tr><th colspan="2">System</th></tr>
		</thead>

		<tbody>			
			<tr> <td>RAM:</td><td>2173MB (52%)</td> </tr>
			<tr> <td>Uptime:</td><td>2 hours</td>	</tr>
		</tbody>

	</table>


	<table class="table table-sm table-hover mt-4">

		<thead class="thead-dark">
			<tr><th colspan="2">Wallet</th></tr>
		</thead>

		<tbody>			
			<tr> <td>Version:</td><td>6000</td> </tr>
			<tr> <td>Balance:</td><td>4845.002</td></tr>
		</tbody>

	</table>

	<!-- <img class="img-fluid mt-3" src="./static/bar.png">

	<blockquote class="blockquote mt-1">
		<p class="mb-0">"much panel. many information. wow. many numbers. so beautiful."</p>
		<footer class="blockquote-footer">Albert Einstein</cite></footer>
	</blockquote>

	<img class="img-fluid mb-3" src="./static/bar.png"> -->

</div>
{{end}}