{{define "content"}}
<div id="panel" class="container my-4 p-4">

	<h1 class="text-center my-2">DogePanel</h1>

	<table class="table table-sm table-hover mt-4">

		<thead class="thead-dark">
			<tr><th colspan="4">Inbound connections</th></tr>
		</thead>

		<tbody id="inbound-connections">			
			
		</tbody>

	</table>

	<table class="table table-sm table-hover mt-4">

		<thead class="thead-dark">
			<tr><th colspan="4">Outbound connections</th></tr>
		</thead>

		<tbody id="outbound-connections">			
			
		</tbody>

	</table>


	<!-- <img class="img-fluid mt-3" src="./static/bar.png">

	<blockquote class="blockquote mt-1">
		<p class="mb-0">"much panel. many information. wow. many numbers. so beautiful."</p>
		<footer class="blockquote-footer">Albert Einstein</cite></footer>
	</blockquote>

	<img class="img-fluid mb-3" src="./static/bar.png"> -->

	<script type="text/javascript">

		(function(window) { 

			function Error(message) {
				if (message == undefined) {
					message = "";
				}
				this.message = message;
			}

			Error.prototype.isNil = function() {
				return this.message.length == 0;
			}

			function connectionTimeComparator(a, b) {

				if (a.conntime < b.conntime) { return  1; }
				if (a.conntime > b.conntime) { return -1; }
				return 0;
			}

			function updateData(callback) {

				var xhr = new XMLHttpRequest();
				
				xhr.onreadystatechange = function() {

					if(this.readyState != 4) {
						return;
					}

					if(this.status == 200) {

						try {
							var connections = JSON.parse(this.responseText).connections;
							var inboundConnections = [];
							var outboundConnections = [];

							for(var i = 0; i < connections.length; i++) {

								var c = connections[i];
								if(c.inbound) {
									inboundConnections.push(c);
								} else {
									outboundConnections.push(c);
								}
							}

							inboundConnections.sort(connectionTimeComparator);
							outboundConnections.sort(connectionTimeComparator);

							callback(inboundConnections, outboundConnections, new Error(""));
							return
							

						} catch (e) {
							callback([], [], new Error(e.message))
							return
						}
						return;
					}

					callback([], [], new Error("Could not load data - HTTP Status Code: " + this.status + " \n\n--- Response ---\n\n" + this.responseText))
					return
				};

				xhr.open("GET", "./data", true);
				xhr.send();
			}
			
			window.onload = function() {

				updateData(function(inboundConnections, outboundConnections, error) {

					if (!error.isNil()) {
						alert(error.message);
						alert("Try to reload the page.");
					} 

					var inboundConnectionsTable = document.getElementById("inbound-connections");
					var outboundConnectionsTable = document.getElementById("inbound-connections");

					var inboundHtml = "";

					for(var i = 0; i < inboundConnections.length; i += 2) {
						var c1 = inboundConnections[i];
						var c2 = inboundConnections[i + 1];
						
						inboundHtml += "<tr><td>" + c1.addr + "</td><td>" + c1.conntime + "</td>";

						if(typeof c2 == "undefined") {
							alert(typeof c2);
							inboundHtml += "</tr>";
							continue;
						}

						inboundHtml += "<td class='table-secondary'>" + c2.addr + "</td><td class='table-secondary'>" + c2.conntime + "</td></tr>";
					}

					inboundConnectionsTable.innerHTML = inboundHtml;

				});
			}

		})(this);

	</script>

</div>
{{end}}