{{define "content"}}
<div id="panel" class="container my-4 p-4">

	<h1 class="text-center my-2">DogePanel</h1>

	<table class="table table-sm table-striped mt-4">

		<thead class="thead-dark">
			<tr><th colspan="5">Inbound connections</th></tr>
		</thead>

		<tbody id="inbound-connections">			
			
		</tbody>

	</table>

	<table class="table table-sm table-striped mt-4">

		<thead class="thead-dark">
			<tr><th colspan="4">Outbound connections</th></tr>
		</thead>

		<tbody id="outbound-connections">			
			
		</tbody>

	</table>


	<!-- <img class="img-fluid mt-3" src="./static/bar.png">

	<blockquote class="blockquote mt-1">
		<p class="mb-0">"much panel. many information. wow. many numbers. so beautiful."</p>
		<footer class="blockquote-footer">Albert Einstein</cite></footer>
	</blockquote>

	<img class="img-fluid mb-3" src="./static/bar.png"> -->

</div>

<script type="text/javascript" src="./static/panel.js"></script>
<script type="text/javascript">
	
	window.onload = function() {

		var p = new DogePanel();

		// initialize callbacks before requesting new data
		p.success(function() {
			p.renderAll();

			// request new data in x seconds
			setTimeout(function() { p.requestNewData() }, p.options.refreshRate * 1000);

		});

		p.fail(function(error) {
			alert(error);
		});

		p.requestNewData();
	};

</script>
{{end}}